.bg-img{
    background-image: url("https://ik.imagekit.io/pvrlbjuaj/MERN%20stack/depositphotos_115883694-stock-photo-chinese-food-blank-background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-color: brown;
    background-size: cover;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}